fastapi
uvicorn[standard]
pydantic
python-multipart
PyMuPDF
spacy
sentence-transformers
scikit-learn
numpy
pytextrank
transformers
torch
sentencepiece
sqlalchemy
pydantic-settings
python-dotenv
keybert